<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.activity.dao.ActivityRelationDao">

    <resultMap id="ActivityRelationEntity"
               type="net.lab1024.smartadmin.module.business.activity.domain.entity.ActivityRelationEntity"></resultMap>

    <resultMap id="ActivityRelationResultDTO"
               type="net.lab1024.smartadmin.module.business.activity.domain.dto.ActivityRelationResultDTO"></resultMap>

    <select id="selectActivityRelationByPage" resultMap="ActivityRelationResultDTO">
        SELECT
        t.id,
        t.activity_id,
        t.employee_id,
        t.position_id,
        t.status,
        t.join_status,
        t.approve_time,
        t.approve_id,
        t.create_time,
        t.update_time,

        users.actual_name as employee_name,
        pos.position_name,
        act.activity_name
        FROM t_activity_relation t, t_employee users, t_position pos, t_activity act
        <where>
            t.employee_id = users.id AND t.position_id = pos.id AND t.activity_id = act.id
            <if test="queryDTO.activityId != null">
                AND t.activity_id = #{queryDTO.activityId}
            </if>
            <if test="queryDTO.employeeId != null">
                AND t.employee_id = #{queryDTO.employeeId}
            </if>
            <if test="queryDTO.positionId != null">
                AND t.position_id = #{queryDTO.positionId}
            </if>
            <if test="queryDTO.approveId != null">
                AND t.approve_id = #{queryDTO.approveId}
            </if>
            <if test="queryDTO.status != null">
                AND t.status = #{queryDTO.status}
            </if>
            <if test="queryDTO.joinStatus != null">
                AND t.join_status = #{queryDTO.joinStatus}
            </if>
            <if test="queryDTO.positionIdList != null">
                AND t.position_id IN
                <foreach collection="queryDTO.positionIdList" open="(" close=")" separator="," item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectActivityRelation" resultMap="ActivityRelationResultDTO">
        SELECT *
        FROM t_activity_relation t
        <where>
            <if test="queryDTO.activityId != null">
                AND t.activity_id = #{queryDTO.activityId}
            </if>
            <if test="queryDTO.employeeId != null">
                AND t.employee_id = #{queryDTO.employeeId}
            </if>
            <if test="queryDTO.positionId != null">
                AND t.position_id = #{queryDTO.positionId}
            </if>
            <if test="queryDTO.approveId != null">
                AND t.approve_id = #{queryDTO.approveId}
            </if>
            <if test="queryDTO.status != null">
                AND t.status != #{queryDTO.status}
            </if>
            <if test="queryDTO.joinStatus != null">
                AND t.join_status = #{queryDTO.joinStatus}
            </if>
        </where>
    </select>

    <update id="approveActivityRelation">
        UPDATE t_activity_relation
        SET
            status = #{entity.status},
            approve_id = #{entity.approveId},
            join_status = #{entity.joinStatus},
            approve_time = #{entity.approveTime},
            update_time = #{entity.updateTime}
        WHERE id = #{entity.id}
    </update>

    <update id="updateActivityRelationJoinStatus">
        UPDATE t_activity_relation
        SET
            join_status = #{updateDTO.joinStatus},
            update_time = now()
        WHERE id = #{updateDTO.id}
    </update>
</mapper>