<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.activity.dao.ActivityDao">

    <resultMap id="NewsEntity" type="net.lab1024.smartadmin.module.business.news.domain.entity.NewsEntity"></resultMap>

    <resultMap id="NewsResultDTO" type="net.lab1024.smartadmin.module.business.news.domain.dto.NewsResultDTO"></resultMap>

    <select id="selectByPage" resultMap="NewsResultDTO">
        SELECT
        t.id,
        t.activity_name,
        t.activity_remark,
        t.start_time,
        t.stop_time,
        t.position_id,
        t.employee_id,
        t.activity_number,
        t.activity_maximum,
        t.place,
        t.create_time,
        t.update_time,

        users.actual_name,
        pos.position_name
        FROM t_activity_approve t, t_employee users, t_position pos
        <where>
            t.employee_id = users.id AND t.position_id = pos.id
            <if test="queryDTO.employeeId != null">
                AND t.employee_id = #{queryDTO.employeeId}
            </if>
            <if test="queryDTO.positionId != null">
                AND t.position_id = #{queryDTO.positionId}
            </if>
            <if test="queryDTO.activityName != null and queryDTO.activityName != ''">
                AND INSTR(t.activity_name,#{queryDTO.activityName})
            </if>
            <if test='queryDTO.timeType == "1"'>
                AND t.start_time > now()
            </if>
            <if test='queryDTO.timeType == "2"'>
                AND now() >= t.start_time
                AND t.stop_time > now()
            </if>
            <if test='queryDTO.timeType == "3"'>
                AND now() >= t_stop_time
            </if>
        </where>
    </select>

    <update id="updateActivity">
        UPDATE t_activity
        SET
            activity_name = #{updateDTO.activityName},
            activity_remark = #{updateDTO.activityRemark},
            start_time = #{updateDTO.startTime},
            stop_time = #{updateDTO.stopTime},
            activity_maximum = #{updateDTO.activityMaximum},
            place = #{updateDTO.place},
            update_time = now()
        WHERE
            id = #{updateDTO.id}

    </update>

    <update id="updateActivityNumber">
        UPDATE t_activity
        SET
            activity_number += 1
        WHERE
            id = #{id}

    </update>

</mapper>